## Aula 6 - Pandas e Storytelling

### Treinando a função merge (fundir/juntar)

In [25]:
import pandas as pd
import numpy as np

#### W6.1 Faça o merge dos dois dataframes a seguir usando como chave de junção a coluna 'key'. Use o argumento how='left'

In [4]:
# Considere os seguintes DataFrames
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'b', 'd'], 'data2': range(3)})

In [6]:
# Faça aqui
df1.merge(right=df2, how='left', on='key')

  key  data1  data2
0   b      0    1.0
1   b      1    1.0
2   a      2    0.0
3   c      3    NaN
4   a      4    0.0
5   a      5    0.0
6   b      6    1.0

#### W6.2 Repita o exercício 6.1, mas desta vez utilize o faça o merge de tal forma que apareça no resultado somente os registros cuja chave esteja presente nos dois dataframes.

In [7]:
# Faça aqui
df1.merge(right=df2, how='inner', on='key')

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

### Treinando Reshaping / Pivoting (Pivotar)

#### W6.3 Pivote o dataframe df_provas a seguir colocando a coluna Aluno como índice, os valores da coluna Disciplina como colunas, e os valores da coluna Objetiva como conteúdo do novo dataframe
#### Sugestão: Faça sem consulta ao slide, no máximo consultando a documentação do Pandas.

In [10]:
# Considere o seguinte DataFrame
table = {
    'Aluno': ['AlunoA', 'AlunoA', 'AlunoA', 'AlunoA', 'AlunoB', 'AlunoB', 'AlunoB', 'AlunoB'],
    'Disciplina': ['Portugues', 'Matematica', 'Geografia', 'História', 'Portugues', 'Matematica', 'Geografia', 'História'],
    'Objetiva': [8.5, 7.5, 9, 10, 8.5, 7.5, 9, 10],
    'Discursiva': [6, 6.5, 7.5, 7, 8.5, 7.5, 9, 10]}
df_provas = pd.DataFrame(table)
df_provas

    Aluno  Disciplina  Objetiva  Discursiva
0  AlunoA   Portugues       8.5         6.0
1  AlunoA  Matematica       7.5         6.5
2  AlunoA   Geografia       9.0         7.5
3  AlunoA    História      10.0         7.0
4  AlunoB   Portugues       8.5         8.5
5  AlunoB  Matematica       7.5         7.5
6  AlunoB   Geografia       9.0         9.0
7  AlunoB    História      10.0        10.0

In [12]:
# Faça aqui
df_provas.pivot(index='Aluno', columns='Disciplina', values='Objetiva')

Disciplina  Geografia  História  Matematica  Portugues
Aluno
AlunoA            9.0      10.0         7.5        8.5
AlunoB            9.0      10.0         7.5        8.5

#### W6.4 Usando o método stack, faça o despivoteamento do dataframe a seguir.

In [16]:
# Considere o seguinte DataFrame
df_simples = pd.DataFrame([[40, 61], [21, 33]],
                                    index=['carro', 'moto'],
                                    columns=['consumo', 'potencia'])
df_simples

       consumo  potencia
carro       40        61
moto        21        33

In [23]:
# Faça aqui
df_simples.stack()

carro  consumo     40
       potencia    61
moto   consumo     21
       potencia    33
dtype: int64

#### W6.5 Usando o método stack, faça o despivoteamento do dataframe a seguir.

In [21]:
multi = pd.MultiIndex.from_tuples([('peso', 'kg'),
                                       ('peso', 'pounds')])
df_multi = pd.DataFrame([[300, 661], [221, 487]],
                                    index=['carro', 'moto'],
                                    columns=multi)
df_multi

      peso
        kg pounds
carro  300    661
moto   221    487

In [22]:
# Faça aqui
df_multi.stack()

              peso
carro kg       300
      pounds   661
moto  kg       221
      pounds   487

#### W6.6 Usando o método unstack, faça o pivoteamento do dataframe no nível 1 (neste dataframe o nível 1 armazena as cores dos veículos).

In [29]:
index = pd.MultiIndex.from_tuples([('carro', 'Azul'), ('carro', 'Vermelho'),
                                   ('moto', 'Azul'), ('moto', 'Vermelho')])
s = pd.Series(np.arange(1.0, 5.0), index=index)
s

carro  Azul        1.0
       Vermelho    2.0
moto   Azul        3.0
       Vermelho    4.0
dtype: float64

In [32]:
s.unstack(level=1)

       Azul  Vermelho
carro   1.0       2.0
moto    3.0       4.0

#### W6.7 Usando o método unstack, faça o pivoteamento do dataframe no nível 0 (neste dataframe o nível 0 armazena os tipos de veículos).

In [ ]:
index = pd.MultiIndex.from_tuples([('carro', 'Azul'), ('carro', 'Vermelho'),
                                   ('moto', 'Azul'), ('moto', 'Vermelho')])
s = pd.Series(np.arange(1.0, 5.0), index=index)
s

In [33]:
s.unstack(level=0)

          carro  moto
Azul        1.0   3.0
Vermelho    2.0   4.0